.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.container {
  margin: 0 auto;
}

.fields {
  display: inline-block;
  margin: 10px;
  padding: 10px;
}

.lastResults ul {
  width: 200px;
  margin: 10px auto;
  text-align:left;
}

.calculation {
  font-weight: bold;
  font-size: 24px;
  padding: 25px;
}
